
.header{
    width: 100%;
    position: fixed;
    top: 0;
    background: rgba(255,255,255, .1);
    z-index: 2;

}
.header__container{
    position: static;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.logo{
    width: 10%;
}
.logo img{
    width: 80px;
    height: 60px;
}
.navigation{
    width: 75%;
}
.navigation__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navigation__item a{
    color: #8E9FFF;
}
.soc-net{
    width: 15%;
}
.soc-net__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.soc-net__list_items{
    width: 32px;
    height: 32px;
    /*background: url("./Images/soc-icon/vk.png");*/
}
.soc-net__list_items a{
    width: 32px;
    height: 32px;
}
