.poster{
    width: 100%;
    height: auto;
    padding: 60px 0;
}
.poster__container{
    width: 80%;
    margin: 0 auto;
}
.poster__slid{
    max-width: 960px;
    max-height: 638px;
    margin: 0 auto;
}
.poster__slid__data{

    position: relative;
    top: -530px;
    left: 90px;
    color: #FFAC9B;
    font-size: 250%;
    font-weight: bold;
}
.poster__slid__news{
    width: 400px;
    position: relative;
    top: -490px;
    left: 600px;
    color: #BB55FF;
    font-size: 200%;
    font-weight: bold;
}
.poster__slid__name{
    position: relative;
    top: -410px;
    left: 280px;
    color: #8E9FFF;
    font-size: 250%;
    font-weight: bold;
}
