@import "header.css";
@import "poster.css";
@import "events.css";
@import "baner.css";
@import "band.css";
@import "footer.css";

body{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.window{
    width: 100%;
    height: inherit;
    background: url("./Images/fon.jpg")  no-repeat;
    background-size: cover;
}

















